/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (max-width:1150px) {
  html{
    font-size: 50%;
  }
}
@media screen and (max-width:600px) {
  html{
    font-size: 40%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* GENERAL ELEMENTS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}
@media screen and (max-width:600px){
  .section{
    text-align: center;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
  padding:1rem 2rem;
}
.btn--text:hover{
  background-color: var(--color-primary);
  color:white;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}



/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
  padding-left:1rem;
  padding-right:1rem;

}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}
@media screen and (max-width:925px) {
  .nav{
    justify-content: center;
  }
  .nav__links{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    justify-content: space-between;
   background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(126,213,111,1) 25%, rgba(155,197,83,1) 40%, rgba(40,180,53,1) 50%, rgba(155,197,83,1) 60%, rgba(126,213,111,1) 75%, rgba(255,255,255,1) 79%);
    padding:1rem;
    background-size: 600%;
    animation: back 1s infinite ease-in-out;
    
    

  }
  .nav__item{
    margin:0;
  }
}
@media screen and (max-width:600px){
  .nav__link{
    font-size: 1.4rem!important;
  }
}

@keyframes back{
  0%{
    background-position-x: left;
  }
  30%{
    color:white
  }
  
  50%{
    background-position-x: center;
    
  }
  60%{
    color:white;
  }
  
  100%{
    background-position-x: right;
  }
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  /* transform: translateY(-6rem); */
}

.highlight {
  color:var(--color-primary);
  
}
@media screen and (max-width:910px){
 .header__img{
   position: absolute;
   z-index: -1;
   left:50%;
   right: 50%;
   transform:translate(-50%,0%);
   opacity:.5
 }
 .header__title{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
 }
 .header__title .btn--text{
  animation: back 1s infinite;
 }
}
/* 
.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
} */

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}
.features__icon img{
  color:var(--color-primary)
  
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width:850px){
  .features{
    grid-template-columns: 1fr;
    text-align: center;
    place-items: center;
    margin:0 4rem;
  }
  .features__img{
    width:80%;
  }
  .features__feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.7rem;

  }
  .feature-1{
    grid-row: 1/2;
  }
  .feature-2{
    grid-row: 2/3;
  }
  .feature-3{
    grid-row: 3/4;
  }
  .feature-4{
    grid-row: 4/5;
  }
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}
@media screen and (max-width:850px){
  .operations__tab{
    padding:1.25rem 1.5rem
  }
  .operations__content--active{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
/* Currency converter */

.wrapper{
  width: 37rem;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  margin:1rem auto;
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 40px 0 20px 0;
}
@media screen and (max-width:700px){
  .wrapper{
    width: 90%;
  }
}
form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #fff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: var(--color-primary-darker);
  transition: 0.3s ease;

}
form button:hover{
  background: var(--color-primary);
}

/* SIGNUP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section__header {
  color: #fff;
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (max-width:600px){
  .modal{
    width:90%;
    padding:4rem 3rem;
  }
}

/* clocks */

.clock{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dde1e7;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73,
              3px 3px 5px rgba(94,104,121,0.288);
}
.clock:before{
  position: absolute;
  content: '';
  height: 20rem;
  width: 20rem;
  background: #dde1e7;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff73,
              inset 3px 3px 5px rgba(94,104,121,0.288);
}
.clock:after{
  position: absolute;
  content: '';
  height: 12rem;
  width: 12rem;
  background: #dde1e7;
  border-radius: 50%;
  box-shadow: -1px -1px 5px #ffffff73,
              1px 1px 3px rgba(94,104,121,0.288);
}
.clock .center-nut{
  height: 1.5rem;
  width: 1.5rem;
  background: #404040;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}
.clock .center-nut2{
  height: .9rem;
  width: .9rem;
  background: #3498db;
  border-radius: 50%;
  z-index: 15;
  position: absolute;
}
.indicators div{
  position: absolute;
  width: .2rem;
  height: .5rem;
  background: #404040;
}
.indicators div:nth-child(1){
  transform: rotate(30deg) translateY(-10rem);
}
.indicators div:nth-child(2){
  transform: rotate(60deg) translateY(-10rem);
}
.indicators div:nth-child(3){
  background: #3498db;
  transform: rotate(90deg) translateY(-10rem);
}
.indicators div:nth-child(4){
  transform: rotate(120deg) translateY(-10rem);
}
.indicators div:nth-child(5){
  transform: rotate(150deg) translateY(-10rem);
}
.indicators div:nth-child(6){
  background: #3498db;
  transform: rotate(180deg) translateY(-10rem);
}
.indicators div:nth-child(7){
  transform: rotate(210deg) translateY(-10rem);
}
.indicators div:nth-child(8){
  transform: rotate(240deg) translateY(-10rem);
}
.indicators div:nth-child(9){
  background: #3498db;
  transform: rotate(270deg) translateY(-10rem);
}
.indicators div:nth-child(10){
  transform: rotate(300deg) translateY(-10rem);
}
.indicators div:nth-child(11){
  transform: rotate(330deg) translateY(-10rem);
}
.indicators div:nth-child(12){
  background: #3498db;
  transform: rotate(360deg) translateY(-10rem);
}
.sec-hand,.min-hand,.hr-hand{
  position: absolute;
}
.sec-hand, .sec{
  height: 18rem;
  width: 18rem;
  z-index: 6;
}
.min-hand, .min{
  height: 14rem;
  width: 14rem;
  z-index: 5;
}
.hr-hand, .hr{
  height: 11rem;
  width: 11rem;
  z-index: 4;
}
.sec,.min,.hr{
  display: flex;
  justify-content: center;
  position: absolute;
}
.sec:before{
  position: absolute;
  content: '';
  height: 11rem;
  width: 3px;
  background: #3498db;
}
.sec:after{
  position: absolute;
  content: '';
  height: 3.5rem;
  width: .7rem;
  background: #3498db;
  top: 10.5rem;
  border-radius: 5px;
}
.min:before{
  position: absolute;
  content: '';
  width: 1px;
  top: -1.5rem;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6rem solid #e95949;
}
.min:after{
  position: absolute;
  content: '';
  width: 3px;
  top: 4rem;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 3rem solid #e95949;
}
.hr:before{
  position: absolute;
  content: '';
  width: 1px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 35px solid #303030;
}
.hr:after{
  position: absolute;
  content: '';
  width: 3px;
  top: 3.4rem;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2.5rem solid #303030;
}

.clocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  text-align: center;
   background-color: #37383d;
   padding:4rem 1rem;
   margin:6rem 0;
     margin-bottom: 0;

}
.clock{
  margin:2rem;
}
.clock__heading{
  font-size:2rem;
  color:white
}
#section--3{
  padding:15rem 0;
  margin-bottom: 0;
  padding-bottom:0;
}
@media only screen and (max-width:800px){
  #section--3{
    text-align: center;
  }
}

/* lang */
.lang{
  height:5rem;
  width:5rem;
  color:white;
  background-color: var(--color-primary);
  position: fixed;
  right: 5%;
  bottom :10%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.lang:hover{
  background-color: white;

}
.lang:hover p{
  color:var(--color-primary)
}
.lang p{
  color:white;
}
.lang img{
  width: 40%;
}

@media  screen and (max-width:910px) {
  .lang{
    bottom:14%
  }
  
}
@media  screen and (max-width:600px) {
  .lang{
    bottom:10%
  }
  
}
